.imgStyle {
  max-width: 300px;
  max-height: auto;
}

span {
  font-size: 22px;
}

.div-1 {
  /*display: none;*/
  margin: 5px;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  /*width: 45%;*/
}

.div-2 {
  /*display: none;*/
  margin: 5px;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  width: 45%;
}

.div-3 {
  /*display: none;*/
  margin: 5px;
  border: 2px black solid;
  padding: 5px;
  border-radius: 5px;
  width: 45%;
}

.output {
  display: none;
}

#partTwo {
  display: none;
}
